
 /* versi lama */
 .card-kelas-trans {-webkit-box-align: stretch;align-items: stretch;border-width: 0pt;border-style: solid;box-sizing: border-box;display: flex;flex-direction: column;-webkit-box-flex: 0;flex-grow: 0;flex-shrink: 0;margin: 0pt;padding: 0pt;min-height: 0pt;min-width: 0pt;user-select: none;position: absolute;border-radius: 1.2rem;inset: 0rem;background-color: rgb(52 58 94 / 100%);opacity: 0.85;}

 /* versi baru */
 .card-kelas-transb {-webkit-box-align: stretch;align-items: stretch;border-width: 0pt;border-style: solid;box-sizing: border-box;display: flex;flex-direction: column;-webkit-box-flex: 0;flex-grow: 0;flex-shrink: 0;margin: 0pt;padding: 0pt;min-height: 0pt;min-width: 0pt;user-select: none;position: absolute;border-radius: 1.2rem;inset: 0rem;background-color: rgb(52 58 94); background-color: rgba(52, 58, 94, 0.85)}

 /* versi komplit */
.card-kelas-transc {
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0pt;
    border-style: solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0pt;
    padding: 0pt;
    min-height: 0pt;
    min-width: 0pt;
    user-select: none;
    position: absolute;
    border-radius: 1.2rem;
    inset: 0rem;
    background-color: rgb(52 58 94);
    filter: opacity(85%);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
}